.counter{
    padding-left: 25px;
    margin-top: 30px;
}
.view{
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    font-weight: bold;
    width: 30%;
}
.button{
    border-radius: 8px;
    padding: 10px;
    width: 30%;
    background-color: white;
}
.buttonShop{
    margin-top: 10px;
    border-radius: 8px;
    border-width: 0;
    width: 170px;
    margin-left: 125px;
    background-color: #0d6efd;
    color: white;
    font-weight: bold;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}